* {
    font-weight: 300;
    font-size: 1.2em;
    color: rgb(32, 32, 33);
}


#fundo {
    background-color: rgb(133, 192, 226);
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    width: 550px;
    padding: 0.2em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

article {
    width: 70%;
    margin: 100px auto;
    text-align: justify;
    background-image: url(/g1051.png);
    background-size: 40%;
    background-position: right top;
    background-repeat: no-repeat;
}


#imagemSigno {
    width: 100px;
}

@media screen and (max-width: 480px) {
    * {
        font-size: 1.1em;
    }

    article {

        width: 90%;
        margin: 0.5em auto;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    * {
        font-size: 1.2em;
    }

    article {
        width: 90%;
        margin: 0.5em auto;
    }
}